* {
  font-family: 'Roboto', sans-serif;
}
.chirpSignInimg {
  width: 375px;
}
h1{
  font-weight: bolder;
  font-size: 3.5em;
}
.head1 > h1 {
  text-shadow: 2.5px 2.5px rgba(215, 215, 215, 0.8);
}
.head1 > h3 {
  font-weight: bolder;
  font-size: 2.5em;
  text-shadow: 2.5px 2.5px rgba(215, 215, 215, 0.8);
}
.head1 > h5 {
  color: rgb(159, 158, 158);
  font-weight:normal;
}
label {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.5em;
}
.btn {
 background-color: #50e3c2;
 border-color: #50e3c2;
 padding: 20px 84px;
 border-radius: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: .50em;
 font-size: 20px;
 text-shadow: 1px 1px rgba(215, 215, 215, 0.7);
}
.btn:hover{
  background-color: black;
  border-color: black;
  text-decoration: none;
}
button{
  border: transparent;
}
.btn > a{
  text-decoration: none;
  color: white;
}
.btn:hover > a{
  background-color: black;
  border-color: black;
  text-decoration: none;
  color: white;
}
.btn2 {
  background-color: #50e3c2;
  border-color: #50e3c2;
  padding: 20px 84px;
  border-radius: 10px;
  margin-top: .50em;
  font-size: 20px;
  text-shadow: 1px 1px rgba(215, 215, 215, 0.7);
  width:60%;
}
.btn2:hover {
  background-color: black;
  border-color: black;
  text-decoration: none;
  color: white;
}
.head{
  margin-top: 4px;
}
