$gray1: #7e7b7b;
$boxShadow: 2px 3px 15px #9f9f9f;
$gray2: rgba(#d7d7d7, 0.8);
$textShadow: 1.5px 1.5px $gray1;
$metallic_gradient: linear-gradient(10deg, black, gray 50%, rgb(139, 139, 139));
$metalGray: #A7A9AC;
$metallicBack: -webkit-gradient(linear, left top, right top, color-stop(.34, rgba(230,237,241,.05)), color-stop(.67, rgba(230,237,241,0)));
$metallicShimmer: -webkit-gradient(radial, 50% -50, 300, 50% 0, 0, from(rgba(230, 237, 241, 0)), to(rgba(230, 237, 241, 0.8)));


* {
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow', sans-serif;
}
//SignIn Page
.signInBackground {
  background-image: url("../images/earth.jpg");
  background-size: cover;
  background-position: center;
}
.form-group {
  label {
    color: white;
  }
  input {
    font-size: 20px;
  }
}
.head1 {
  font-weight: bolder;
  text-shadow: $textShadow;
  color: white;
    h5 {
        text-shadow: none;
        color: $gray2;
    }
}

//form fields
.form-group {
    label {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 1.5em;
    }
}
.signUpLink {
  text-decoration: none;
  color: white;
}

//navigation bar
.navBanner {
    background-color: #A7A9AC;
    background-image: $metallicBack;
    .shimmer {
      background-image: $metallicShimmer;
      padding-top: 10px;
      padding-bottom: 15px;
    }
}

.timelineBody {
    background-image: url("../images/space1.jpg");
    background-size: contain;
    background-position: center;
}
.topPage {
  margin-top: 30px;
}
.signInimg {
    width:150px;
    margin-top: 30px;
    box-shadow: $boxShadow;
}
.signPage {
  margin-bottom: 50px;
}
.scrolling {
  height: 120px;
}
.planets {
  margin-top: 20px;
  display: flex;
  margin-bottom: 10px;
  .planet {
    flex: 1;
  }
}
.profileText {
    color: white;
}

.columnLeft {
    margin-top: 20px;
    margin-left: 10px;
    .thumbnail {
        background-color: #A7A9AC;
        background-image: $metallicBack;
        box-shadow: $boxShadow;
        border: none;
        p {
          color: white;
        }
    }
}
.columnRight {
    margin-top: 20px;
    border-radius: 5px;
    .thumbnail {
        box-shadow: 2px 3px 15px #9f9f9f;
        display: flex;
        background-color: #A7A9AC;
        background-image: $metallicBack;
        border: none;
        h3 {
          font-size: 30px;
        }
        h5 {
          font-size: 12px;
        }
        p {
          font-size: 20px;
        }
    }
}
//Post inside of thumbnail
.leftContainer {
  flex: 1;
    .userImg {
        border-radius: 20px;
        border: 5px solid black;
        box-shadow: $boxShadow;
        width: 100%;
        height: 100%;
    }
}
.rightContainer {
  flex: 6;
  padding-left: 5px;
    .nameIconContainer {
        display: flex;
        flex: 1;
        .nameContainer {
            flex: 6;
            color: white;
            h3 {
                margin: 0;
                padding-top: 4px;
                text-shadow: $textShadow;
            }
        }
        .iconContainer {
            flex: 1;
            .icon {
                width: 20px;
                float: right;
            }
        }
    }
    .bodyContainer {
      flex: 3;
      color: white;
    }
}


// .profileImgBox {
//     position: relative;
//     top: -140px;
//     left: 0;
//     z-index: 1;
// }
.profileImg {
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: $boxShadow;
    width: 100%;
    height: 100%;
}
.modal-body {
  height: 200px;
}
#messageArea {
    width: 100%;
    height: 180px;
    font-size: 20px;
}
.modal-footer {
    text-align: center;
    margin-bottom: 5px;
    button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }
}

.thumbnail {
    padding: 12px;
}


//follower Page
.followerContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  .followerImgContainer {
    flex: 3;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .followerNameContainer {
    flex: 1;
  }
  .followerButtonContainer {
    flex: 1;
    margin: auto;
    button {
      border: 2px solid black;
      background-color: white;
    }
    button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }
  }
}
