* {
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow', sans-serif;
}

.signInBackground {
  background-image: url("../images/earth.jpg");
  background-size: cover;
  background-position: center;
}

.form-group label {
  color: white;
}

.form-group input {
  font-size: 20px;
}

.head1 {
  font-weight: bolder;
  text-shadow: 1.5px 1.5px #7e7b7b;
  color: white;
}

.head1 h5 {
  text-shadow: none;
  color: rgba(215, 215, 215, 0.8);
}

.form-group label {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.5em;
}

.signUpLink {
  text-decoration: none;
  color: white;
}

.navBanner {
  background-color: #A7A9AC;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.34, rgba(230, 237, 241, 0.05)), color-stop(0.67, rgba(230, 237, 241, 0)));
}

.navBanner .shimmer {
  background-image: -webkit-gradient(radial, 50% -50, 300, 50% 0, 0, from(rgba(230, 237, 241, 0)), to(rgba(230, 237, 241, 0.8)));
  padding-top: 10px;
  padding-bottom: 15px;
}

.timelineBody {
  background-image: url("../images/space1.jpg");
  background-size: contain;
  background-position: center;
}

.topPage {
  margin-top: 30px;
}

.signInimg {
  width: 150px;
  margin-top: 30px;
  box-shadow: 2px 3px 15px #9f9f9f;
}

.signPage {
  margin-bottom: 50px;
}

.scrolling {
  height: 100px;
}

.profileText {
  color: white;
}

.columnLeft {
  margin-top: 20px;
  margin-left: 10px;
}

.columnLeft .thumbnail {
  background-color: #A7A9AC;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.34, rgba(230, 237, 241, 0.05)), color-stop(0.67, rgba(230, 237, 241, 0)));
  box-shadow: 2px 3px 15px #9f9f9f;
  border: none;
}

.columnLeft .thumbnail p {
  color: white;
}

.columnRight {
  margin-top: 20px;
  border-radius: 5px;
}

.columnRight .thumbnail {
  box-shadow: 2px 3px 15px #9f9f9f;
  display: flex;
  background-color: #A7A9AC;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.34, rgba(230, 237, 241, 0.05)), color-stop(0.67, rgba(230, 237, 241, 0)));
  border: none;
}

.columnRight .thumbnail h3 {
  font-size: 30px;
}

.columnRight .thumbnail h5 {
  font-size: 12px;
}

.columnRight .thumbnail p {
  font-size: 20px;
}

.leftContainer {
  flex: 1;
}

.leftContainer img {
  width: 100%;
  height: 100%;
}

.rightContainer {
  flex: 6;
  padding-left: 5px;
}

.rightContainer .nameIconContainer {
  display: flex;
  flex: 1;
}

.rightContainer .nameIconContainer .nameContainer {
  flex: 6;
  color: white;
}

.rightContainer .nameIconContainer .nameContainer h3 {
  margin: 0;
  padding-top: 4px;
  text-shadow: 1.5px 1.5px #7e7b7b;
}

.rightContainer .nameIconContainer .iconContainer {
  flex: 1;
}

.rightContainer .nameIconContainer .iconContainer .icon {
  width: 20px;
  float: right;
}

.rightContainer .bodyContainer {
  flex: 3;
  color: white;
}

.profileImg {
  border-radius: 20px;
  border: 5px solid black;
  box-shadow: 2px 3px 15px #9f9f9f;
  width: 100%;
  height: 100%;
}

.modal-body {
  height: 200px;
}

#messageArea {
  width: 100%;
  height: 180px;
  font-size: 20px;
}

.modal-footer {
  text-align: center;
  margin-bottom: 5px;
}

.modal-footer button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.thumbnail {
  padding: 12px;
}

.followerContainer {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.followerContainer .followerImgContainer {
  flex: 3;
}

.followerContainer .followerImgContainer img {
  width: 100%;
  height: 100%;
}

.followerContainer .followerNameContainer {
  flex: 1;
}

.followerContainer .followerButtonContainer {
  flex: 1;
  margin: auto;
}

.followerContainer .followerButtonContainer button {
  border: 2px solid black;
  background-color: white;
}

.followerContainer .followerButtonContainer button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
